body,td,p,div,li { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	}

h1.h1isad {
	FONT-SIZE: 16px; text-decoration: underline;
	}

h2.index {
	FONT-SIZE: 14px;
	}

#isadArea h1 {
	FONT-SIZE: 16px;
	}

#isadArea h2 {
	FONT-SIZE: 14px;
	}

#isadArea h3 {
	FONT-SIZE: 12px;
	}
	

#isadArea {
padding: 10px 10px 10px 10px;
margin-top: 0px;
margin-left: 10px;
text-align: left;
min-height: 400px;
width:750px;
}

#isadArea p.catheader {
text-align: left;
margin-left: 5px;  
	FONT-SIZE: 15px;
	font-weight:bold; 
padding-bottom: 2px; 
}

#fisadArea p { 
font-size: 100%;
padding-left: 5px; 
padding-bottom: 0.5em;
padding-top: 0.5em; 
}

#fisadArea p.az, ul.termslist, ol.termslist, ul.colllist { 
margin-left: 5px;
padding-bottom: 2px;
padding-top: 2px; 
}

#isadArea div.collectionNavigation {
position:absolute;
padding:12px;
top:280px;
left:600px;
width:350px;
height:450px;
overflow:auto;
border-style:dotted;
border-width:0px;
border-color: #A0A0A0;
}

#isadArea div.ancestors {
padding-bottom:12px;
}

#isadArea div.descendants {

}

#isadArea div.requestLink {
position:absolute;
padding:12px;
top:180px;
left:600px;
border-style:dotted;
border-width:0px;
border-color: #A0A0A0;
}

#isadArea div.termsList {
position:absolute;
padding:12px;
top:180px;
left:600px;
width:350px;
height:400px;
overflow:auto;
}


#isadArea span.ancestorsHeader {
font-weight:bold;
}
#isadArea span.descendantsHeader {
font-weight:bold;
}

#isadArea span.requestHeader {
font-weight:bold;
}

#isadArea span.termsListHeader {
font-weight:bold;
}

#isadArea table {   
margin-top: 20px;
margin-left: 25px; 
margin-bottom: 1em;
border-collapse: collapse; 
border: #CAD8E5 1px solid; 
}


#isadArea td { 
padding: 5px 5px 5px 5px; 
text-align: left;
 }
 
#isadArea td.field {
	padding: 5px 5px 5px 5px;
	font-weight: bold;
	text-align:left
	font-size: 11px;
	vertical-align:top;
	}
 
#isadArea td.viewlink {
	padding: 10px 2px 2px 2px;
	font-weight: bold;
	font-size: 11px;
	text-align:right;
	vertical-align:top;
	}
	
table.mainBlock {
position:relative;
top:0px;
}

div.uoeBanner {
position:absolute;
top:10px;
right:25px;
text-align:right;
}

div.footer {
position:absolute;
margin-left:25px;
padding:5px;
font-size: 8pt;
}

td.mainBody {
padding-left: 10px;
border-left-style:solid;
border-left-width:1px;
height:400px;
vertical-align:top;
padding-top:20px;
} 

old.td.mainBody {
padding-left: 10px;
border-left-style:solid;
border-left-width:1px;
border-left-color: #A0A0A0;
border-right-style:solid;
border-right-width:1px;
border-right-color: #A0A0A0;
border-bottom-style:solid;
border-bottom-width:1px;
border-bottom-color: #A0A0A0;
height:400px;
vertical-align:top;
padding-top:20px;
} 

td.spacerLeft {
width: 10px;
height: 20px;
text-indent: 10px;
background-color: #E0E0E0;
border-style:solid;
border-width:1px;
border-color: #A0A0A0;
}

td.spacerRight {
height: 20px;
text-indent: 10px;
background-color: #E0E0E0;
border-style:solid;
border-width:1px;
border-color: #A0A0A0;
}

td.label {
font-weight:bold;
text-align:right;
vertical-align:top;
width:200px;
}

a, a:visited, a:hover {
color: #680000;
text-decoration:none;
}

a.topTabs, a.topTabs:visited, a.topTabs:hover {
color: #680000;
font-weight:bold;
text-decoration:none;
}