/* CSS Document */
body{padding:0px; margin:0px; background:url(/towardsdolly/images/mainbg.gif) 0 0 repeat-x #fff; color:#000000; font:14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;}

a{background:#fff; color:#000; text-decoration:none;}
a:hover{background:#fff; color:#666; text-decoration:underline;} 

/*----TOP PANEL----*/
#topPan{width:778px; height:87px; position:relative; margin:0 auto;}
#topPan #ImgPan{width:229px; height:52px; background:#fff; color:#666; position:absolute; top:35px; left:0px; padding:0 0 0 35px;}
#topPan #ImgPan img{width:700px;}


#topPan ul{width:468px; height:32px; position:absolute; top:153px; left:45px;}
#topPan ul li{width:78px; height:32px; float:left;}
#topPan ul li a{width:76px; height:32px; display:block; background:url(/towardsdolly/images/topmenu-normal.jpg) 0 0 no-repeat #F5F4F4; color:#666; text-decoration:none; font-size:12px; font-weight:bold; text-align:center; line-height:32px; margin:0 2px 0 0;}
#topPan ul li a:hover{background:url(/towardsdolly/images/topmenu-hover.jpg) 0 0 no-repeat #F5F4F4; color:#fff; text-decoration:none;}

#topPan ul li.home{background:url(/towardsdolly/images/topmenu-hover.jpg) 0 0 no-repeat #F5F4F4; color:#fff; text-decoration:none; font-size:12px; font-weight:bold; text-align:center; line-height:32px;}
/*----/TOP PANEL----*/


/*----Footer Panel----*/
#footermainPan{background:url(/towardsdolly/images/footerbg.gif) 0 0 repeat-x #F4F4F4; color:#212121; position:relative; top:150px; margin:0 auto; height:133px; clear:both;}
#footerPan{width:689px; position:relative; margin:0 auto; font:12px/15px "Trebuchet MS",Arial, Helvetica, sans-serif; font-weight:normal; padding:15px 0 0;}

#footerPan ul{width:450px; height:20px; position:relative; margin:0 auto;}
#footerPan li{float:left; }
#footerPan ul li a{padding:0 10px 0; color:#212121; background:#F4F4F4; text-decoration:none;}
#footerPan ul li a:hover{text-decoration:underline;}

#footerPan ul.templateworld{width:190px; background:#F4F4F4; color:#212121; display:block; position:relative; margin:0 auto; }
#footerPan ul.templateworld li{height:20px;}
#footerPan ul.templateworld li a{background:#F4F4F4; display:block; color:#212121; text-decoration:none; padding:0px;}
#footerPan ul.templateworld li a:hover{text-decoration:underline;}

#footerPan p.copyright{width:250px; background:#F4F4F4; color:#212121; position:relative; margin:0 auto;}

#footerPanhtml{width:64px; height:19px; display:block; position:absolute; top:73px; left:270px;}
#footerPanhtml a{width:59px; height:18px; background:#fff; color:#6A6A6A; border:1px solid #B6B6B6; display:block; position:absolute; top:0px; left:0px; line-height:19px; text-align:center; font-weight:bold; text-transform:uppercase; text-decoration:none;}
#footerPanhtml a:hover{background:#D2D0D0; color:#353427; text-decoration:none;}

#footerPancss{width:64px; height:19px; display:block; position:absolute; top:73px; left:336px;}
#footerPancss a{width:49px; height:18px; background:#fff; border:1px solid #B6B6B6; color:#6A6A6A; display:block; position:absolute; top:0px; left:0px;line-height:19px; text-transform:uppercase; font-weight:bold; text-align:center; text-decoration:none;}
#footerPancss a:hover{background:#D2D0D0; color:#353427; text-decoration:none;}

#frontpage {width:778px; min-height:450px; position:relative; top: 70px; margin:0 auto; }
#frontpage ul li{padding:5px;}

div.nav {
position: relative;
top: 50px;
bottom: 10px;
padding:20px;
width:778px; 
height:20px; 
position:relative; 
margin:0 auto;
font-weight:bold;
}

div.mainBlock {
position: relative;
top: 70px;
bottom: 10px;
padding: 5px;
}


p {
text-align:justify;
}

h1.h1isad {
	FONT-SIZE: 16px; text-decoration: underline;
	}

h2.index {
	FONT-SIZE: 14px;
	}

h1 {
	FONT-SIZE: 16px;
	}

h2 {
	FONT-SIZE: 14px;
	}

h3 {
	FONT-SIZE: 12px;
	}
	

div.searchform {
position:absolute;
top:70px;
width: 800px;
}

p.catheader {
text-align: left;
margin-left: 5px;  
	FONT-SIZE: 15px;
	font-weight:bold; 
padding-bottom: 2px; 
}

div.collectionNavigation {
width:370px;
height:370px;
overflow:auto;
border-style:dotted;
border-width:0px;
border-color: #A0A0A0;
}

div.ancestors {
padding-bottom:12px;
}

div.descendants {
}

div.requestLink {
padding-bottom:12px;
}




span.ancestorsHeader {
font-weight:bold;
}

span.descendantsHeader {
font-weight:bold;
}

span.requestHeader {
font-weight:bold;
}

span.termsListHeader {
font-weight:bold;
}

ul.termslist {
margin-left:30px;
}

td { 
padding: 5px 5px 5px 5px; 
text-align: left;
 }
 
td.field {
	padding: 5px 5px 5px 5px;
	font-weight: bold;
	text-align:left;
	font-size: 11px;
	vertical-align:top;
	}
 
td.viewlink {
	padding: 10px 2px 2px 2px;
	font-weight: bold;
	font-size: 11px;
	text-align:right;
	vertical-align:top;
	}
	
table.mainBlock {
position:relative;
top:0px;
}

div.uoeBanner {
position:absolute;
top:10px;
right:25px;
text-align:right;
}

div.footer {
position:relative;
width:600px;
top:35px;
padding:5px;
padding-left:30px;
font-size: 8pt;
}

td.mainBody {
padding-left: 10px;
border-left-style:solid;
border-left-width:1px;
height:450px;
vertical-align:top;
padding-top:20px;
} 

td.spacerLeft {
width: 10px;
height: 20px;
text-indent: 10px;
background-color: #E0E0E0;
border-style:solid;
border-width:1px;
border-color: #A0A0A0;
}

td.spacerRight {
height: 20px;
text-indent: 10px;
background-color: #E0E0E0;
border-style:solid;
border-width:1px;
border-color: #A0A0A0;
}

td.label {
font-weight:bold;
text-align:right;
vertical-align:top;
width:200px;
}

a, a:visited, a:hover {
color: #680000;
text-decoration:none;
}

a.topTabs, a.topTabs:visited, a.topTabs:hover {
color: #680000;
font-weight:bold;
text-decoration:none;
}

.rss-box {
padding-left:15px;
padding-right:15px;
}

.rss-item {
padding-bottom: 15px;
}